img{
    aspect-ratio: 1/1;
    width: 100%;
    margin-bottom: 1.2rem;
}

.container{
    max-width: 1070px;
}

.myHeader{
    background-color: #344250;
    height: 60px;
    position: relative;
}

.myMain{
    background-color: #213344;
}

.spotify-logo{
    width: 40px;
    margin-left: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.myCard{
    background-color: #2e3a46;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    padding: 1rem 1rem;
    cursor: pointer;
}

